@model SignalRVotacao.Models.Participants

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Adicionar</h1>

<h4>Participantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticName" class="control-label"></label>
                <input asp-for="ParticName" class="form-control" />
                <span asp-validation-for="ParticName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" asp-for="Foto" class="custom-file-input"  id="customFile" accept="image/*">
                    <label class="custom-file-label" for="customFile">Escolha a imagem</label>
                </div>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img id="imagem-selecionada" alt="Imagem selecionada" height="200" width="200">
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            var arquivo = document.getElementById("customFile").files[0];
            var leitor = new FileReader();
            leitor.onload = function (event) {
                document.getElementById("imagem-selecionada").src = event.target.result;
            };
            leitor.readAsDataURL(arquivo);
        });
    </script>
}
